In [1]:
print(10)
"""
print(2)
print(3)
"""
print(4)

# Adding triple quotes before and after makes multi line comment,.

10
4

In [33]:
def my_sum(x1,*x):
    """
We have made this in NED class
This is a description of function which will be shown in my_sum? command as can be seen below.
You have to write it in the function which means before return command to make it description of the function know as Docstring otherwise it won't become the description (Docstring) and will not be shown in my_sum? command.
    """
    return x1+sum(x)

my_sum(100,1,2,3,4,5)

115

In [19]:
my_sum?

Signature: my_sum(x1, *x)
Docstring:
We have made this in NED class
This is a description of function which will be shown in my_sum? command as can be seen below.


File:      c:\users\hp\appdata\local\temp\ipykernel_1464\691871734.py
Type:      function

In [31]:
code_in_object="""
a=7
b=8
c=a+b
print(a)
print(b)
print("sum=",c)
"""

code_in_string=compile(code_in_object,'ab','exec')
exec(code_in_string)

# ab is the temporary file name in compile command because python requires that if you are running a code through compile that was a string then you have to make a temperory file name for it which can be anyname.
# exec in compile says that this variable will be executed.

7
8
sum= 15

In [45]:
abc=None
type(abc)

NoneType

In [49]:
a=input("Number1:") # This a and b is string data type as it has "".
b=input("Number2:")

print(a+b) # since it a and b is string values the + sign will concetenate the values and not sum and for sum we have to make a and b integers.
print(type(a) and type(b))

Number1: 7
Number2: 8

78
<class 'str'>

In [51]:
a=input("Number1:") # This a and b is string data type as it has "".
b=input("Number2:")

print(int(a)+int(b)) # since it a and b is string values the + sign will concetenate the values and not sum and for sum we have to make a and b integers which we are doing right now.
print(type(a) and type(b))

Number1: 7
Number2: 8

15
<class 'str'>

In [55]:
a=int(input("Number1:"))
b=int(input("Number2:"))

print(a+b)
print(type(a) and type(b))

Number1: 7
Number2: 8

15
<class 'int'>

In [57]:
"ABCDEFGHIJKLMNOPQRSTUVWXYZ"

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [59]:
list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [63]:
keys=["a","b","c"]
values=[1,2,3]

list(zip(keys,values)) # List is an iterative data type so works with list.

[('a', 1), ('b', 2), ('c', 3)]

In [71]:
{k:v for k,v in zip(keys,values)} # this is how you made the dictionary using zip.

{'a': 1, 'b': 2, 'c': 3}

In [77]:
dict(keys,values) # You cannot use dict command to make dictionary by zipping two lists. You have to run for loop like above in a dictionary.

TypeError: dict expected at most 1 argument, got 2

In [93]:
data={"id":list("123456789"),
      "name":list("ABCDEFGHI")}
data

{'id': ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
 'name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']}

In [95]:
import pandas as pd # this is a package in python which we have imported as pd.

df=pd.DataFrame(data) #DataFrame is a pandas function to make the data in a dataframe. We call this function with pandas name which is pd in this case.

df # the lenght of all arrays which means both columns must be same.

  id name
0  1    A
1  2    B
2  3    C
3  4    D
4  5    E
5  6    F
6  7    G
7  8    H
8  9    I

In [103]:
Names=[]

while True: # this is true block so that while loop can run. As we don't have any condition here for while loop to run we put a true block for it to run.
    name=input("enter your name")
    if name=="x" or name=="X" or name=="Exit":
        break # The moment i will enter x or X or Exit as name loop will break and list will be generated.
    Names.append(name)
Names

enter your name Saadi
enter your name Hadi
enter your name Osaama
enter your name Dawood
enter your name x

['Saadi', 'Hadi', 'Osaama', 'Dawood']

In [ ]:
# we use while loop if we want to run the loop infinite time without condition using break to stop or with condition without break 
# we use for loop if we want to run loop for fixed lenght.

In [113]:
l1=list("abc")
print(l1)
l2=list("xyz")
print(l2)
l1.append(l2) # l2 will be appended as list. Use extend function instead if you want each element of l2 to be appended individually.
print(l1)

['a', 'b', 'c']
['x', 'y', 'z']
['a', 'b', 'c', ['x', 'y', 'z']]

In [117]:
l1=list("abc")
print(l1)
l2=list("xyz")
print(l2)
l1.extend(l2) #extend is like append but it will append each element of list individually.
print(l1)

['a', 'b', 'c']
['x', 'y', 'z']
['a', 'b', 'c', 'x', 'y', 'z']

In [123]:
import pandas as pd
student_data=pd.read_excel("Student Data.xlsx") # you are opening the file from the folder from where this notebook is running.
student_data

     name  age
0   Saadi   26
1    Hadi   33
2  Dawood   26
3   Osama   24

In [127]:
student_data['name'].apply(str.lower) # we have just applied the lower case function here. We have not over writed the column and have just applied the function using apply function.

0     saadi
1      hadi
2    dawood
3     osama
Name: name, dtype: object

In [129]:
student_data['name']=student_data['name'].apply(str.lower) # Here we have made the change permanent and have overwrited the data by applying lower case function.
student_data

     name  age
0   saadi   26
1    hadi   33
2  dawood   26
3   osama   24

In [131]:
student_data.to_excel("Output.xlsx") # Now you have made this changed file saved in the folder from where this notebook is running.

In [133]:
student_data.to_excel("Output1.xlsx", index=False) # Now you have made this changed file saved in the folder from where this notebook is running without the index which is left most column from 0 to 3.

In [245]:
with open("attendance.txt") as f:
    a=f.read()
    print(a)
# This is how you read a txt file.

Saadi
Hadi
Dawood
Osama

## Error Handling

In [137]:
# There are three types of errors: 1) Development or compile time error which arises when you are developing a program and during development this error arises and you can resolve it while development.
# 2) Run time error which arises when a program is developed and is running and it arises due to abnormal activity by the user.
# 3) Logical error which can be error that doesn't prove logic like 2+2 should be 4 but program is giving 5.

In [146]:
# To manage run time error we use try and except to report errors in production. Run time error arises during running program and needs to be managed but you cannot afford that whole program crashes because of that error so you generally take common run time error and include them in your code with try and except to keep your program running if error arises.

In [144]:
print("pakistan")
print("pakistan")
print(7/0) # Zero division error as division by zero not possible.
print("pakistan")
print("pakistan") # lines after error will not be printed.

pakistan
pakistan

ZeroDivisionError: division by zero

In [156]:
print("paakistan")
try:
    print(7/0) #try includes logic where error might arise.
except(ZeroDivisionError,IndexError,KeyError): # I can add as many errors that might arise with try line.
    print("Zero se divide nahi kar sakte") # this line will be generated if any errr above mentioned arises. This is message that I want to display.

print("Pakistan") # this line will be printed despite the zero division error above.

paakistan
Zero se divide nahi kar sakte
Pakistan

In [160]:
print("pakistan")
try:
    print(6/2) # it will print this as it has no error.

except(ZeroDivisionError,IndexError,KeyError):
    print("try again")
print("pakistan")

pakistan
3.0
pakistan

In [166]:
print("pakistan")
try:
    with open('abc.txt') as f: # FIle not found error will arise
        pass
except(ZeroDivisionError,IndexError,KeyError,FileNotFoundError):
    print("try again")
print("pakistan")

pakistan
try again
pakistan

In [229]:
print("pakistan")
try:
    with open('attendance.txt') as f: # File is saved in the folder so it will be opened. This "with open('filename.txt') as f:" is important
        pass
except(ZeroDivisionError,IndexError,KeyError,FileNotFoundError):
    print("try again")
print("pakistan")

pakistan
pakistan

In [ ]:
# I you want different messages for different error you will have to use try except for each error.

In [172]:
print("pakistan")
try:
    with open('abc.txt') as f:
        pass
except(FileNotFoundError):
    print("try again")
a=[2,3]
try:
    a[7]

except IndexError:
    print("Index does not exist")

b={"name":"saadi"}
try:
    b["age"]

except KeyError:
    print("enter correct key name")

print("apkistan")
# for some possible run time error (many out there, these are just a few) seperate try and except are used to display different messages.

pakistan
try again
Index does not exist
enter correct key name
apkistan

In [174]:
# You can make this try and error dynamic to display the error name as well using Exception class.

In [184]:
try:
    print(7/0)

except Exception as e: # Error name will be printed.
    print(e)
    print("sorry")
    
else: print("try again") # this else command will run if error doesn't arises.

division by zero
sorry

In [186]:
try:
    print(7/2)

except Exception as e: # Error name will be printed.
    print(e)
    print("sorry")
    
else: print("try again") # this else command will run if error doesn't arises.

3.5
try again

In [188]:
try:
    print(7/0)

except Exception as e: # Error name will be printed.
    print(e)
    print("sorry")
    
finally: print("try again") # finally block will run every time despite of any error or not.

division by zero
sorry
try again

## Raise

In [190]:
# You can also include restrictions in your package to raise/generate errors if particular logic is included in the restriction. For e.g PGD class can enroll students between 18-30 years of age so if someone tries to enter the data of a 15 year old student then your package will raise an error.

In [275]:
class students():
    def __init__(self,name,age):
        if age<18 or age>40:
            raise Exception("Your age does not fall in criteria") # This raise command will raise an error when age doesn't fall in criteria.
        self.name=name
        self.age=age

a=students("Asif",25)
print(a.age)  # Since age is in criteria it will print.

25

In [271]:
class students():
    def __init__(self,name,age):
        if age<18 or age>40:
            raise Exception("Your age does not fall in criteria") # This raise command will raise an error when age doesn't fall in criteria.
        self.name=name
        self.age=age

b=students("laiba",17)
print(b.age)  # Error generated with the message you want to display. check last line of error to see your message.

Exception: Your age does not fall in criteria

## Date Time

In [ ]:
# DataTime package in python is to be imported when you want to work around date and time. It supports arthmetic operations that can be performed on it.

In [294]:
import datetime as dt
x=dt.datetime.now()
print(x)

2025-05-11 09:38:23.537639

In [296]:
print(x.year)
print(x.month)
print(x.day)
print(x.hour)
print(x.minute)
print(x.second)
# All these values are coming integers whcih means you can also customize the values in string.

2025
5
11
9
38
23

In [ ]:
#strftime is a function for date time that converts date object in text date or text date into date object.

In [300]:
x.strftime('%y')

'25'

In [302]:
x.strftime('%Y')

'2025'

In [306]:
x.strftime('%b') # Short form of month will be given like Sep for September.

'May'

In [308]:
x.strftime('%B') # Full form of month.

'May'

In [314]:
x.strftime('%d %A, %Y, %I%M%p') # see that you have converted the time as per your own format strftime.

'11 Sunday, 2025, 0938AM'

In [318]:
x.strftime("%j") # 131st day of the year out of 365 days of 2025.

'131'

In [328]:
int(x.strftime("%j"))/365 *100 # showing that 35% of the year is gone. You can perform every arthematic operations on datetime.

35.89041095890411

### Google strftime to get complete list of codes for different operations.